/*****DESIGN NOTES
font-family: 'Shrikhand', cursive;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Kumbh Sans', sans-serif;

--cultured: #f4f5f6ff;
--navajo-white: #FFDEAE;
--pinky: #ffbdd4;
--rosy-brown: #bd898fff;
--citrine: #e0ca3cff;
--green-lizard: #AFFC41
--gunmetal: #2c363fff;
--gainsboro: #dee5e5ff;
--opal: #9dc5bbff;
--mountain-meadow: #17b890ff;
--steel-teal: #5e807fff;

/****TAG SELECTORS****/
a {
  color: #bd898fff;
}

body {
  text-align: center;
  background-color: #9dc5bbff;
  font-family: 'Poppins', sans-serif;

}

h1 {

  font-family: 'Nothing You Could Do', cursive;
  font-size: 8.5rem;
  color: #2c363fff;
  margin: 400px auto 0 auto;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 3rem;
  color: #17b890ff;
}

h3 {
  background-color: #5e807fff;
  font-family: 'Shrikhand', cursive;
  font-size: 1.75rem;
  font-weight: lighter;
  color: #f4f5f6ff;
  padding-top: 25px;

}
hr {
  border-top: 20px dotted #f4f5f6ff;
  margin: auto 500px auto 500px;
}

p {
  color: #5e807fff;
  font-family: 'Poppins', sans-serif;
}




/****CLASS SELECTORS***/
.middle-container {
  margin-bottom: 200px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.future {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}
.contact-me {
    width: 50%;
    margin: 100px auto 100px auto;
}

.wannabe {
  margin: 0 auto 300px auto;
}

/***IMAGE CLASSES***/

.malarie {
  margin: 100px auto auto auto;
  width: 25%;
}

.roses-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
}
.roses-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
}

.sales-icon {
  float: left;
  width: 200px;
}
.webinar-icon {
  float: right;
  width: 200px;
}
.solution-icon {
  float: left;
  width: 200px;
}
.webdesign-icon {
  float: right;
  width: 200px;
}
.coding-icon {
  width: 200px;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 0px solid #9d6f75;
    border-radius: 8px;
    background: #ffb7c0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb7c0), to(#9d6f75));
    background: -moz-linear-gradient(top, #ffb7c0, #9d6f75);
    background: linear-gradient(to bottom, #ffb7c0, #9d6f75);
    -webkit-box-shadow: #ffbfc8 0px 0px 40px 0px;
    -moz-box-shadow: #ffbfc8 0px 0px 40px 0px;
    box-shadow: #ffbfc8 0px 0px 40px 0px;
    font: normal normal bold 30px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 0px solid #e09fa7;
    background: #ffdce6;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdce6), to(#bc858c));
    background: -moz-linear-gradient(top, #ffdce6, #bc858c);
    background: linear-gradient(to bottom, #ffdce6, #bc858c);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #9d6f75;
    background: -webkit-gradient(linear, left top, left bottom, from(#9d6f75), to(#9d6f75));
    background: -moz-linear-gradient(top, #9d6f75, #9d6f75);
    background: linear-gradient(to bottom, #9d6f75, #9d6f75);
}

/****ID SELECTORS***/
